.z-contentBox{
    /* display: flex; */
    height: 100%;
    padding-top: 10px;
    
}
.z-contentBoxLeft{
    float:left;
    width: 300px;
    height: 100%;
    border: 1px solid #eee;
    padding-top: 10px;
}
.z-contentBoxRight{
    height: 100%;
    overflow:hidden;
    position: relative;
}
.z-contentBoxRightBox{
    border: 1px solid #eee;
    border-left: none;
    width: 100%;
    height: 100%;
    padding-right: 10px;
    padding-left: 10px;
}
.z-contentBoxRight-top .revisionTime label{
    width: 138px;
}
.z-contentBoxRight-top{
    margin-top: 15px;
    margin-left: 25px;
    /* min-width: 1340px; */
}
.z-contentBoxRight-top li{
    display: inline-block;
    padding-bottom: 10px;
}
.z-contentBoxRight-top li .state{
    position: relative;
    top: 4px;
}
.z-contentBoxRight-top li .time{
    position: relative;
    top: 2px;
}
.z-contentBoxRight-top li label{
    font-weight: 500;
    color: #333333;
}
.z-contentBoxRight-top li .statediv input{
    width: 200px;
    height: 28px;
    background: #FFFFFF;
    border: 1px solid #DCDFE6;
    border-radius: 4px;
}
.z-contentBoxRight-top  .revisionTime input{
    width: 300px;
    height: 28px;
    background: #FFFFFF;
    border: 1px solid #DCDFE6;
    border-radius: 4px;
    text-align: center
}
.z-contentBoxRight-top  .revisionTime .divmagin{
    margin: -17px 12px 0 10px;
}
.z-contentBoxRight-top  .revisionTime .iconriqixuanze{
    position: relative;
    top: 23px;
    left: 8px;
}
.z-contentBoxRight-top  li .iconfont{
    position: relative;
    top: 1px;
}
.z-contentBoxRight-top   .statediv{
    margin: 0 12px;
}
.z-contentBoxRight-top li .crname{
    width: 270px;
    height: 26px;
    background: #FFFFFF;
    border: 1px solid #DCDFE6;
    border-radius: 4px;
    margin-right: 12px;
}
.z-contentBoxRight-top li .search{
    width: 68px;
    height: 28px;
    background: #409EFF;
    border-radius: 4px;
    margin-right: 10px;
    line-height: 27px;
}
.z-contentBoxRight-top li .reset{
    width: 68px;
    height: 28px;
    background: #409EFF;
    border-radius: 4px;
    margin-right: 10px;
    line-height: 27px;
}
.z-contentBoxRight-top li .add{
    width: 100px;
    height: 28px;
    background: #409EFF;
    border-radius: 4px;
    margin-right: 10px;
    line-height: 27px;
}
.z-contentBoxRight-top li .all{
    line-height: 27px;
    width: 104px;
    height: 28px;
    background: #9FCEFF;
    border-radius: 4px;
    }
.z-addDashboard .layui-layer-title{
    height: 60px;
    line-height: 60px;
    background: #409EFF;
    padding-left: 88px;
}
.z-addDashboard .layui-layer-setwin a{
    width: 16px;
    height: 16px;
    background: url(./img/icon_close1.png);
    position: relative;
    top: 7px;
} 
.z-addDashboard .addDashboardContent{
    padding: 58px 0 0 30px;
}
.z-addDashboard .addDashboardContent  input{
    width: 398px;
    border-radius: 5px;
}
.z-addDashboard .addDashboardContent .layui-input-block{
    margin-left: 0px;
}
.z-addDashboard .addDashboardContent .position{
    padding: 6px 3px 0px 0;
}
.z-addDashboard  .layui-layer-btn .layui-layer-btn1{
    border-color: #1E9FFF;
    background-color: #1E9FFF;
    color: #fff;
    border-radius: 4px;
}
.z-addDashboard  .layui-layer-btn {
    text-align: center;
}
.z-addDashboard  .layui-layer-btn .layui-layer-btn0{
    border-color: #409EFF;
    background-color: #ECF5FF;
    color: #409EFF;
    border-radius: 4px;
}
.z-tipoffline  .layui-layer-btn .layui-layer-btn1{
    border-color: #1E9FFF;
    background-color: #1E9FFF;
    color: #fff;
    border-radius: 4px;
}
.z-tipoffline  .layui-layer-btn .layui-layer-btn0{
    border-color: #409EFF;
    background-color: #ECF5FF;
    color: #409EFF;
    border-radius: 4px;
}
.z-tiprelease  .layui-layer-btn .layui-layer-btn1,.z-batchRelease  .layui-layer-btn .layui-layer-btn1{
    border-color: #1E9FFF;
    background-color: #1E9FFF;
    color: #fff;
    border-radius: 4px;
}
.z-tiprelease  .layui-layer-btn .layui-layer-btn0{
    border-color: #409EFF;
    background-color: #ECF5FF;
    color: #409EFF;
    border-radius: 4px;
}
.z-tipdel  .layui-layer-btn .layui-layer-btn0,.z-batchRelease  .layui-layer-btn .layui-layer-btn0{
    border-color: #409EFF;
    background-color: #ECF5FF;
    color: #409EFF;
    border-radius: 4px;
}
.z-tipdel  .layui-layer-btn .layui-layer-btn1{
    border-color: #F56C6C;
    background-color: #F56C6C;
    color: #fff;
    border-radius: 4px;
}
.z-tipdel .layui-layer-title,.z-tiprelease .layui-layer-title,.z-tipoffline .layui-layer-title,.z-batchRelease .layui-layer-title{
    position: relative;
    top: 10px;
    border-bottom: none;
    background-color: #fff;
    font-size: 18px;
    font-weight: 500;
}
.z-tipdel .layui-layer-content,.z-tiprelease .layui-layer-content,.z-tipoffline .layui-layer-content,.z-batchRelease .layui-layer-content{
    padding: 12px 0 0 20px!important;
    color: #333333;
}
.z-tipdel .layui-layer-setwin .layui-layer-close1,.z-tiprelease .layui-layer-setwin .layui-layer-close1,.z-tipoffline .layui-layer-setwin .layui-layer-close1,.z-batchRelease .layui-layer-setwin .layui-layer-close1 {
    position: relative;
    top: 12px;
}
.z-attribute {
    height: 100%;
    overflow: auto;
}
.z-attribute .safe .intro{
    width: 187px;
    height: 28px;
    background: #67C23A;
    border-radius: 4px;
    line-height: 28px;
    padding-left: 12px;
    margin-right: 10px;
    cursor: pointer;
}
.z-attribute .safe div i{
    width: 16px;
    height: 16px;
    background: url(./img/icon_copy.png);
    position: relative;
    top: 3px;
    left: -3px;
    
}
.z-attribute .safe div span{
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 20px;
}
.z-attribute input{
    width: 398px;
}
.z-attribute .layui-input-block{
    margin-left: 80px;
}
.z-attribute  .layui-form-label{
    padding: 9px 0;
    width: 108px;
}
.z-attribute .layui-form-item{
    padding-left: 21px;
}
.z-attribute .form-block:first-child {
    margin-top: 25px;
}
.z-attribute .attr-pos {
    width: 398px;
    height: 36px;
    padding-left: 10px;
    box-sizing: border-box;
    border: 1px solid #E6E6E6;

}
.z-attribute .layui-textarea{
    width: 398px;
    height: 72px;
}
.z-attribute .name{
    margin-top: 24px;
}
.z-attribute .safe  {
    margin-top: 8px;
}
.z-attribute .safe .safeDiv{
    padding-top: 4px;
}
.z-attribute .layui-form-select .layui-edge{
    right: 81px;
}
.z-attribute .layui-anim-upbit{
    left: 25px;
    min-width: 81%;
}
.attr-wrap {
    margin-left: 128px;
    border: none;
}

.ztree {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.layui-table[lay-even] tr:nth-child(even) {
    /* background-color: #aaffaa; */
    background-color: red;
}

/* 鼠标指向表格时,奇数行背景颜色 */
/* .layui-table tbody tr:hover,.layui-table-hover {
    background-color: red;
} */

/* 表格头部工具栏背景色 */
.layui-table-tool {
    background-color: #eeffee;
}

/* 表格头部背景色 */
.layui-table th {
    background-color: #4293E5; /* MediumSeaGreen */
    color: #fff;
    font-weight: bold;
    height: 48px;
}
.layui-table tr{
    height: 48px;
}
.layui-table  tr:nth-child(even)  {
    background-color:   #F5F7FC ;
}
.layui-table{
  width: 100%;
}

.z-contentBoxRight-table {
    /* height: calc(100% - 150px); */
    width: 100%;
    position: absolute;
    top:50px;
    bottom: 50px;
    /* overflow: auto; */
}
.z-contentBoxRight-table .layui-laypage .layui-laypage-curr .layui-laypage-em {
    background-color: #409EFF;
}
.z-contentBoxRight-table .layui-form-checked[lay-skin=primary] i {
    border-color: #409EFF!important;
    background-color: #409EFF;
    color: #fff;
}
.z-contentBoxRight-table .layui-table-page{
    text-align: left;
    padding-right: 40px;
    padding-top: 14px;
}
.z-contentBoxRight-table .layui-table-view{
    border:none;
}
.z-table-tips {
    width: 74px;
    height: 23px;
    background: url(./img/icon_sign.png);
    position: relative;
    top: 1px;
    left: 7px;
}
/* tree css */
.ztree li span.button.add {
    margin-right: 2px;
    background-position: -144px -1px;
    vertical-align: top;
    *vertical-align: middle;
}
.z-contentBoxLeft .ztree li a:hover{
    text-decoration: none;
    background: #F5F7FB;
    color: #409EFF!important;
}
.z-contentBoxLeft .ztree li a{
    height: 36px;
    padding-top: 7px;
    position: relative;
}
.z-contentBoxLeft .ztree li span.button.noline_open{
    width: 16px;
    height: 16px;
    background: url(./img/icon_open.png);
    position: relative;
    top: 0;
    left: 3px;
    z-index: 100;
}
.z-contentBoxLeft .ztree li span.button.noline_close{
    width: 16px;
    height: 16px;
    background: url(./img/icon_close.png);
    position: relative;
    top: -1;
    left: 3px;
    z-index: 100;
}
.z-contentBoxLeft .ztree li span.button.ico_open,.z-contentBoxLeft .ztree li span.button.ico_close{
    width: 16px;
    height: 16px;
    background: url(./img/icon_file.png);
    position: relative;
    top: 2px;
    margin: 0 6px 0 10px;
}
.z-contentBoxLeft .ztree li a:hover span.button.ico_open,.z-contentBoxLeft .ztree li a:hover span.button.ico_close{
    width: 16px;
    height: 16px;
    background: url(./img/icon_file2.png);
    position: relative;
    top: 2px;
    margin: 0 6px 0 10px;
}
.z-contentBoxLeft .ztree li span.button.ico_docu {
    width: 16px;
    height: 16px;
    background: url(./img/icon_file.png);
    position: relative;
    top: 2px;
    margin: 0 6px 0 10px;
}
.z-contentBoxLeft .ztree li a:hover span.button.ico_docu {
    background: url(./img/icon_file2.png);
}
.z-contentBoxLeft .ztree li a.curSelectedNode {
    height: 36px;
    background-color: #F9FAFD;
    color: #409EFF!important;
    border: none;
    opacity: 1;
    padding-top: 7px;
}

.z-contentBoxLeft .ztree li .curSelectedNode span.button.ico_docu,.z-contentBoxLeft .ztree li .curSelectedNode span.button.ico_open,.z-contentBoxLeft .ztree li .curSelectedNode span.button.ico_close {
    background: url(./img/icon_file2.png);  
}
.copeConfigureForm-search{
    padding-top: 10px;
    text-align: center;
}
.copeConfigureForm-search input{
    width: 398px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #DCDFE6;
    border-radius: 4px;
}
.copeConfigureForm-search button{
    width: 50px;
    height: 32px;
    background: #409EFF;
    border-radius: 4px;
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #FFFFFF;
    position: relative;
    top: -1px;
    margin-left: 6px;
}
.addDashboardContent .citySel{
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #DCDFE6;
    border-radius: 4px;
    padding-left: 10px;
    width: 386px!important;
}
.z-attribute .attrPosiiton {
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #DCDFE6;
    border-radius: 4px;
    padding-left: 10px;
    width: 386px!important;
}
.addDashboardContent .z-contentBoxLeft,.copeConfigureTo .z-contentBoxLeft{
    border: none;
    width: 398px;
    height: 300px;
    float:none;
    margin-left: 69px;
}
.copeConfigureTo .ztree li span.button.chk {
    margin: 7px 3px 0px 9px;
}
.copeConfigureTo .z-contentBoxLeft .ztree li span.button.noline_close,.copeConfigureTo .z-contentBoxLeft .ztree li span.button.noline_open{
    top: 4px;
}


.addDashboardContent .z-contentBoxLeft,.copeConfigureForm .z-contentBoxLeft{
    border: none;
    width: 300px;
    height: 300px;
    float:none;
    margin-left: 69px;
}
.copeConfigureForm .ztree li span.button.chk {
    margin: 7px 3px 0px 9px;
}
.copeConfigureForm .z-contentBoxLeft .ztree li span.button.noline_close,.copeConfigureForm .z-contentBoxLeft .ztree li span.button.noline_open{
    top: 4px;
}
.copeConfigureTo .z-contentBoxLeft .ztree li span.button.noline_close,.copeConfigureTo .z-contentBoxLeft .ztree li span.button.noline_open{
    top: 4px;
}
.copeConfigureTo .ztree li span.button.chk.checkbox_true_part,.copeConfigureTo .ztree li span.button.chk.checkbox_true_part_focus {
    background-position: 0 0;
    background: url(./img/icon_sel_pre2.png);
    width: 14px;
    height: 14px;
}
.copeConfigureTo .ztree li span.button.chk.checkbox_false_part,.copeConfigureTo .ztree li span.button.chk.checkbox_false_part_focus {
    background-position: 0 0;
    background: url(./img/icon_sel_nor2.png);
    width: 14px;
    height: 14px;
    position: relative;
    z-index: 100;
}
.copeConfigureTo .ztree li span.button.chk.checkbox_true_full,.copeConfigureTo .ztree li span.button.chk.checkbox_true_full_focus{
    background-position: 0 0;
    background: url(./img/icon_sel_pre2.png);
    width: 14px;
    height: 14px;
    position: relative;
    z-index: 100;
}
.copeConfigureTo .ztree li span.button.chk.checkbox_false_full,.copeConfigureTo .ztree li span.button.chk.checkbox_false_full_focus{
    background-position: 0 0;
    background: url(./img/icon_sel_nor2.png);
    width: 14px;
    height: 14px;
    position: relative;
    z-index: 100;
}

.copeConfigureForm .ztree li span.button.chk.radio_true_part,.copeConfigureForm .ztree li span.button.chk.radio_true_part_focus {
    background-position: 0 0;
    background: url(./img/icon_sel_pre.png);
    width: 14px;
    height: 14px;
}
.copeConfigureForm .ztree li span.button.chk.radio_false_part,.copeConfigureForm .ztree li span.button.chk.radio_false_part_focus {
    background-position: 0 0;
    background: url(./img/icon_sel_nor.png);
    width: 14px;
    height: 14px;
}
.copeConfigureForm .ztree li span.button.chk.radio_true_full,.copeConfigureForm .ztree li span.button.chk.radio_true_full_focus{
    background-position: 0 0;
    background: url(./img/icon_sel_pre.png);
    width: 14px;
    height: 14px;
    position: relative;
    z-index: 100;
}
.copeConfigureForm .ztree li span.button.chk.radio_false_full,.copeConfigureForm .ztree li span.button.chk.radio_false_full_focus{
    background-position: 0 0;
    background: url(./img/icon_sel_nor.png);
    width: 14px;
    height: 14px;
    position: relative;
    z-index: 100;
}

body .layui-layer-page .layui-layer-content {
    overflow: hidden;
}
.z-addDashboard .ztree li a:hover span.button.ico_open,.z-addDashboard .ztree li  a:hover span.button.ico_close{
    background: url(./img/iconTool/icon_file_sel.png);
}
.z-addDashboard .ztree li span.button.ico_docu {
    width: 16px;
    height: 16px;
    background: url(./img/iconTool/icon_dashboard_nor.png);
    position: relative;
    top: -1px;
    margin: 0 6px 0 10px;
}
.z-addDashboard .ztree li a:hover span.button.ico_docu {
    background: url(./img/iconTool/icon_dashboard_hov.png);
}
.z-addDashboard .ztree li .curSelectedNode span.button.ico_open,.z-addDashboard .ztree li .curSelectedNode span.button.ico_close {
    background: url(./img/iconTool/icon_file_sel.png);  
}
.z-addDashboard .ztree li .curSelectedNode span.button.ico_docu{
    background: url(./img/iconTool/icon_dashboard_sel.png);  
}
.valNUllBorder{
    border:1px solid red!important;
}
.z-selectDeptInp{
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding:20px
}
#z-selectDept i{
    position: absolute;
    right: 79px;
    top: 13px;
    width: 16px;
    height: 16px;
    background: url(./img/icon_open.png);
}
.z-selectDeptInp .treeSelectShow{
    /* width: 438px; */
    height: 120px;
    background: #FFFFFF;
    border: 1px solid #DCDFE6;
    border-radius: 4px;
    /* margin: 15px 30px; */
    padding: 10px;
}
.z-selectDeptInp .layui-tab-title li{
    /* padding: 0 33px; */
    width: 33%;
}
.z-selectDeptInp .layui-tab-title .layui-this:after{
    width: 40%;
    left: 30%;
}
.z-selectDeptInp .layui-tab-brief>.layui-tab-more li.layui-this:after, .z-selectDeptInp .layui-tab-brief>.layui-tab-title .layui-this:after {
    border-bottom: 2px solid #409EFF;
}
.z-selectDeptInp .layui-tab-brief>.layui-tab-title .layui-this {
    color: #409EFF;
}
.z-selectDeptInp .layui-tab{
    border-bottom: 1px solid #DCDFE6;
    /* height: 355px; */
    /* overflow:auto; */
}
/* .z-selectDeptInp .layui-tab-content{
    text-align: center;
    position: relative;
} */
.z-selectDeptInp .layui-tab-content input{
    width:90%;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #DCDFE6;
    border-radius: 4px;
    /* margin: 12px 26px 10px 19px; */
    padding-left: 30px;
}
.z-selectDeptInp .layui-tab-item-inpbox{
    position: relative;
    width: 100%;
}
.z-selectDeptInp .layui-tab-item-inpbox i{
    top: 10px;
    left: 6px;
    position: absolute;
}
.z-selectDeptInp .treeSelectShow li{
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: #F4F4F4;
    border: 1px solid #E9E9EB;
    border-radius: 4px;
    margin-right: 9px;
    margin-bottom: 9px;
    padding: 0 10px;
}
.z-selectDeptInp .treeSelectShow li span{
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 400;
    color:#666666;
}
.z-selectDeptInp .treeSelectShow li i{
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
    left: 4px;
    cursor: pointer;
    background: url(./img/icon_delete1.png);
}
.z-selectDeptInp .treeSelectShow li i:hover{
    background: url(./img/icon_delete2.png);
}
.z-selectDeptInp .z-contentBoxLeft .ztree li span.button.noline_open,.z-selectDeptInp .z-contentBoxLeft .ztree li span.button.noline_close {
    top:4px;
    position: relative;
    z-index: 100;
}
.z-selectDeptInp .z-contentBoxLeft {
    float: none;
    width: 100%;
    /* height: 200px; */
    border: none;
    padding: 10px;
}
.z-selectDeptInp .ztree {
    position: relative;
    /* top: -11px; */
    left: 9px;
    height: 261px;
    width: 448px;
}
.z-selectDeptInp .layui-tab-content .rank span{
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #333333;
}
.z-selectDeptInp .layui-tab-content .rank i{
    position: relative;
    top: 12px;
    cursor: pointer;
    width: 14px;
    height: 14px;
    background: url(./img/icon_sel_nor2.png);
}
.z-selectDeptInp .layui-tab-content .rank  i.active{
    width: 14px;
    height: 14px;
    background: url(./img/icon_sel_pre2.png);
}
.z-selectDeptInp .layui-tab-content .rank li{
    height: 36px;
    line-height: 36px;
    width: 90%;
    padding-left: 21px;
}
.z-selectDeptInp .layui-tab-content .rank{
    /* width: 474px; */
    height: 248px;
    overflow: auto;
}
.z-selectDeptInp  .z-contentBoxLeft .treeDemoDeptOrpeo .ztree li span.button.noline_open, .z-selectDeptInp  .z-contentBoxLeft .treeDemoDeptOrpeo .ztree li span.button.noline_close {
    /* top: 6px; */
    top: 0px;
    left: -3px;
}
.z-selectDeptInp .selectPeopleBox{
    position: relative;
    left: 10px;
    padding-left: 8px;
}
.z-selectDeptInp .selectPeople i{
    position: relative;
    top: 12px;
    cursor: pointer;
    width: 14px;
    height: 14px;
    background: url(./img/icon_sel_nor2.png);
    margin-right: 10px;
}
.z-selectDeptInp .selectPeople i.active{
    background: url(./img/icon_sel_pre2.png);
}
.z-selectDeptInp .selectPeople span{
    position: relative;
    top: 9px;
}
.z-selectDeptInp .selectPeople li{
    height: 36px;
}
.z-selectDeptInp .selectPeople{
    height: 240px;
    overflow: auto;
}
.g-line-right{
    width: 1px;
    height: 284px;
    border-left: 1px solid #DCDFE6;
    position: absolute;
    top: -10px;
    left: 232px;
}
.g-line-heng{
    width: 498px;
    height:1px;
    border-top: 1px solid #DCDFE6;
    position: absolute;
    top: 274px;
    left: -11px;
}

#rMenu li:hover{
   color:#409EFF;
}
#rMenu {
    position:absolute; 
    visibility:hidden; 
    top:0;
    width: 138px;
    max-height: 140px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
#rMenu ul li{
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #222222;
    height: 41px;
    padding: 0px 0 0 30px;
    cursor: pointer;
    line-height: 41px;
}
.z-contentBoxLeft .ztree .tree-item a:hover span.dot{
    display: block !important;
}

.z-contentBoxLeft .ztree .dot{
    font-size: 20px;
    position: absolute;
    top: 9px;
    right: 9px;
    height: 50%;
    display: none;
}
.z-contentBoxLeft .ztree li span {
    line-height: 6px;
}

/* 改变树的hover和点击的样式 */
.z-contentBoxLeft .ztree li a{
    line-height: 22px;
    width: 290px;
    position: relative;
}
.z-contentBoxLeft .ztree li a.level1 {
    /* left: -18px; */
    padding-left: 5px;
} 
/*.z-contentBoxLeft .ztree li a.level2 {
    left: -36px;
    padding-left: 41px;
} 
/* .z-contentBoxLeft .ztree li a.level3 {
    left: -72px;
    padding-left: 77px;
} */
/* .z-contentBoxLeft .ztree li a.level4 {
    left: -144px;
    padding-left: 149px;
}
.z-contentBoxLeft .ztree li a.level5 {
    left: -288px;
    padding-left: 293px;
}
.z-contentBoxLeft .ztree li a.level6 {
    left: -576px;
    padding-left: 581px;
}
.z-contentBoxLeft .ztree li a.level7 {
    left: -1152px;
    padding-left: 1157px;
} */
.z-contentBoxLeft .ztree {
    padding:0px;
    position: relative;
    overflow: auto;
    height: 100%;
   
}

/* liCuiHong */
.layui-form-checkbox[lay-skin=primary]:hover i{
    border:  1px solid #409EFF;
}
.nicescroll-slideBar{
    height: calc(100% - 50px);

}
body .layui-msg-style{
    /* position: relative; */
    
    background-color: #f0f9eb;
    color: #67c23a;
    min-width: 380px;
    height: 48px;
    margin: 0;

}
.layui-msg-style.layui-layer-dialog{
    top:20px
}
.layui-msg-style.layui-layer-dialog .layui-layer-content{
    line-height: 48px !important;
    padding: 0 20px !important;
    
  
}
.layui-form-select dl dd.layui-this{
  background:rgba(0, 0, 0, 0);
  color: #409EFF;
}

/* 时间控件 */
#layui-laydate1 .layui-laydate .layui-this{
    background-color: #409eff !important;
  }
  #layui-laydate1 .layui-laydate-content td.laydate-selected{
      background: #c3e7ff!important;
  }
  #layui-laydate1 .layui-laydate-header{
      background: #fff !important;
      
  }
  .laydate-theme-molv .layui-laydate-header i, .laydate-theme-molv .layui-laydate-header span{
    color: #606266 !important;

  }
  .layui-laydate-content td.layui-this span{
    /* -webkit-transform: translateX(-50%);
    transform: translateX(-50%); */
    border-radius: 50%;

  }
  .layui-laydate-content td, .layui-laydate-content th{
      height: 24px !important;
      width: 24px !important;
      padding:8px !important;
      margin: 5px !important;
  }
  .laydate-footer-btns .laydate-btns-clear,
  .laydate-footer-btns .laydate-btns-clear:hover{
    color: #409eff;
    background: 0 0;
    /* padding-left: 0;
    padding-right: 0; */
    border:0
  }
  .layui-laydate-footer span{
      margin-right: 5px;
      /* display: none; */

  }
  .laydate-footer-btns .laydate-btns-confirm{
      padding: 7px 15px;
      border-radius: 3px;
      line-height: 1;
  }
  .laydate-footer-btns .laydate-btns-confirm:hover{
    color: #409eff;
    border: 1px solid #409eff;
  }