.popup-pagination input,
.popup-pagination select {
  width: 100%;
  padding-right: 30px;
  cursor: pointer;
  background-color: #fff;
  background-image: none;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 30px;
  line-height: 30px;
  outline: none;
  padding: 0 15px;
  transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
}

.popup-pagination select .selectOption {
  padding: 20px 0;
}

.popup-pagination select:focus,
.popup-pagination input:focus,
.popup-pagination textarea:focus {
  border-color: #409eff;
}

.popup-pagination button {
  border: none;
  outline: none;
  padding: 0 6px;
}

.popup-pagination button:disabled:hover i {
  color: #c0c4cc;
}

/* 分页部分 */
.popup-pagination {
  height: 35px;
  line-height: 35px;
}

.activePage {
  color: #409EFF;
}

.popup-pagination button:disabled {
  color: #c0c4cc;
  background-color: #fff;
  cursor: not-allowed
}

.visual-pagination {
  display: flex;
  align-items: center;
  background: #fff;
  min-width: 450px;
  /* margin-bottom: 10px; */
  
}

.popup-pagination1 {
  position: absolute;
  bottom: 10px;
  width: 100%;
  
}

.visual-pagination span:nth-of-type(2) {
  margin-left: 20px;
}

.visual-pagination-button {
  cursor: pointer;
  height: 35px;
  line-height: 35px;
  color: #909399;
  background: #fff;
  font-weight: 700;
}

.visual-pagination-button i {
  font-size: 12px;
}

.visual-pagination-button:hover i,
.visual-pager li:hover {
  color: #409eff;
}

.visual-pager {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  user-select: none;
}

.visual-pager li {
  padding: 0 4px;
  background: #fff;
  vertical-align: top;
  display: inline-block;
  font-size: 13px;
  min-width: 35.5px;
  height: 28px;
  line-height: 30px;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  margin: 0;
}

.visual-pagination-select {
  width: 105px !important;
  border-radius: 4px;
  margin: 0 20px;
}

/* .visual-pagination-select option{
  /* line-height: 40px; */
/* border: none; */
/* }  */
.pager-input {
  width: 50px !important;
  border-radius: 4px;
  margin: 0 4px
}

.layui-laydate-content table {
  width: 100%;
}

/* .layui-laydate-content table tr{
  padding: 15px !important;
} */

/* 下拉框 */
.select-drop-down {
  position: absolute;
  max-height: 260px;
  height: auto;

  border: 1px solid #e4e7ed;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 5px 0;
  /* overflow: auto; */
}

.drop-down-list {
  margin: 0;
  padding: 4px 0;
  width: 100%;
  list-style: none;
}

.drop-down-list li {
  padding: 0 8px;
  line-height: 34px;
  height: 34px;
  position: relative;
  cursor: pointer;
  color: #606266;
  font-size: 14px;
    padding: 0 20px;
  /* vertical-align: middle; */
}

.drop-down-list .selected {
  background: #fff;
  color: #409eff;
  font-weight: 700;
}

.drop-down-list .unselected {
  color: #606266;
}

.drop-down-list li:hover {
  background: #f5f7fa;
  /* color: #409eff; */
}
.select-input{
  position: relative;
}
.select-icon{
  font-size:14px;
  color: #606266;
  position: absolute;
  right: 35px;
}