// logo color
// #f90  #fa8c16

$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC",
  "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
// $font-size: 0.14rem !default;
$color: #595959 !default;
$color-title: #262626 !default;
$color-desc: #8c8c8c !default;
$color-gray: #bfbfbf !default;

$html-background: #fff !default;
$color-primary: #1890ff !default;
$color-primary-hover: #096dd9 !default;
$color-primary-disabled: #bae7ff !default;
$color-success: #52c41a !default;
$color-success-hover: #3fad09 !default;
$color-success-disabled: #c6ebb4 !default;
$color-warning: #faad14 !default;
$color-warning-hover: #d9a116 !default;
$color-warning-disabled: #fff6dd !default;
$color-error: #f50000 !default;
$color-error-hover: #f00 !default;
$color-error-disabled: #ffc2c5 !default;

$color-url: #1890ff !default;
$color-url-hover: #1890ff !default;
$color-border: #d9d9d9 !default;
$color-sub-border: #f3f3f3 !default;
$color-input-border: #d9d9d9 !default;
$color-input-border-hover: #1890ff !default;
$color-input-disabled: #f3f4f5 !default;
$input-border-radius: 0.02rem !default;

$color-placeholder: #bfbfbf !default;
$color-lightgray: #d9d9d9 !default;
$color-button: #434343 !default;
$color-button-hover: #0d1a26 !default;
$color-button-disabled: #bfbfbf !default;
$color-button-border-disabled: #d9d9d9 !default;
$color-button-border: #bfbfbf !default;
$color-button-border-hover: #8c8c8c !default;

$color-td: #f3f3f3 !default;
$color-th: #8c8c8c !default;

$tooltip-background-color: #262626 !default;
$header-color: #000 !default;
$header-background-color: #fff !default;
$modal-header-lineheight: 0.5rem !default;
$modal-footer-padding: 0.1rem 0.15rem !default;
$header-footer-color: #fff !default;
$header-footer-border: 1px solid #e8e8e8 !default;

$notice-input-color: #314659 !default;

$head-height: 0.4rem;

$input-padding: 0 0.1rem !default;
