<!-- footer部分 -->
<div class="footer">
    <div class="layui-container">
      <p class="footer-web">
        <a href="javascript:;">合作伙伴</a>
        <a href="javascript:;">钉钉</a>
        <a href="javascript:;">企业微信</a>
      </p>
      <div class="layui-row footer-contact">
        <div class="layui-col-sm2 layui-col-lg1"><img src="/static/home/img/erweima.jpg" width="80px"></div>
        <div class="layui-col-sm10 layui-col-lg11">
          <div class="layui-row">
            <div class="layui-col-sm6 layui-col-md8 layui-col-lg9">
              <p class="contact-top"><i class="layui-icon layui-icon-cellphone"></i>&nbsp;029-83521567-8001&nbsp;&nbsp;&nbsp;(9:00-18:00)</p>
              <p class="contact-bottom"><i class="layui-icon layui-icon-home"></i>&nbsp;xpbb@qq.com</span></p>
            </div>
            <div class="layui-col-sm6 layui-col-md4 layui-col-lg3">
              <p class="contact-top"><span class="right">西安灞桥区长乐东路京都国际1号楼10201</span></p>
              <p class="contact-bottom"><span class="right">Copyright&nbsp;©&nbsp;2020-2025 <a href="http://www.qya.cn/" target="_blank" title="西电科技">西电科技</a>
                 </span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src="/static/layui/layui.js"></script>
<!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script>
  layui.config({
    base: '/static/home/js/' 
  }).use('firm'); 
</script>

</body>
</html>