{% include "./head.html" %}
 <!-- banner部分 -->
 <div>
    <div class="layui-carousel" id="banner">
      <div carousel-item>
        <div>
          <img src="/static/home/img/banner1.jpg">
          <div class="panel">
            <p class="title">GodoOA</p>
            <p>专注企业办公</p>
          </div>
        </div>
        <div>
          <img src="/static/home/img/banner2.jpg">
          <div class="panel">
            <p class="title">西电科技</p>
            <p>工作流引擎</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- main部分 -->
  <!--div class="tlinks"></div-->
  <div class="main-product">
    <div class="layui-container">
      <p class="title">专为企业办公而研制的<span>核心产品</span></p>
      <div class="layui-row layui-col-space25">
        <div class="layui-col-sm6 layui-col-md3">
          <div class="content">
            <div><img src="/static/home/img/Big_icon1.png"></div>
            <div>
              <p class="label">库存管理</p>
              <p>可适配生产/维修/零售等企业库存管理，内含入库/盘点/调拨等功能，可自定义字段</p>
            </div>
            <a href="javascript:;">查看产品 ></a>
          </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3 ">
          <div class="content">
            <div><img src="/static/home/img/Big_icon2.png"></div>
            <div>
              <p class="label">采购预算</p>
              <p>分大/小类的采购预算，excel表导入，数据自动归算，和权限流引擎完美结合</p>
            </div>
            <a href="javascript:;">查看产品 ></a>
          </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
          <div class="content">
            <div><img src="/static/home/img/Big_icon3.png"></div>
            <div>
              <p class="label">自定义表单</p>
              <p>极易入手的自定义表单，一次配置，表单/表格/搜索一步生成，简洁高效</p>
            </div>
            <a href="javascript:;">查看产品 ></a>
          </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3 ">
          <div class="content">
            <div><img src="/static/home/img/Big_icon4.png"></div>
            <div>
              <p class="label">审计流引擎</p>
              <p>结合自定义表单可完成大部分工作流。可回退，支持钉钉通知，支持规则配置</p>
            </div>
            <a href="javascript:;">查看产品 ></a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="main-service">
    <div class="layui-container">
      <p class="title">为客户打造完美的<span>专业服务</span></p>
      <div class="layui-row layui-col-space25 layui-col-space80">
        <div class="layui-col-sm6">
          <div class="content">
            <div class="content-left"><img src="/static/home/img/home_img1.jpg"></div>
            <div class="content-right">
              <p class="label">企业免费版</p>
              <span></span>
              <p>
                最多10人使用<br />
                第一年免费<br />
                第二年按每人100元收取<br />
                不包含工作流引擎<br />
                共享云端服务器
              </p>
            </div>
          </div>
        </div>
        <div class="layui-col-sm6">
          <div class="content">
            <div class="content-left"><img src="/static/home/img/home_img2.jpg"></div>
            <div class="content-right">
              <p class="label">企业收费版</p>
              <span></span>
              <p>
                最多100人使用<br />
                一年9800元<br />
                包含所有功能<br />
                工作日技术支持<br />
                共享云端服务器<br />
              </p>
            </div>
          </div>
        </div>
        <div class="layui-col-sm6">
          <div class="content">
            <div class="content-left"><img src="/static/home/img/home_img3.jpg"></div>
            <div class="content-right">
              <p class="label">企业独享版</p>
              <span></span>
              <p>
                人数不限制<br />
                一年98000元<br />
                包含所有功能<br />
                7*24小时技术支持<br />
                独享云端服务器<br />
                第一时间享受升级服务
              </p>
            </div>
          </div>
        </div>
        <div class="layui-col-sm6">
          <div class="content">
            <div class="content-left"><img src="/static/home/img/home_img4.jpg"></div>
            <div class="content-right">
              <p class="label">企业部署版</p>
              <span></span>
              <p>
                提供源代码<br />
                198000元起<br />
                包含所有功能<br />
                7*24小时技术支持<br />
                指定服务器配置<br />
                第一时间享受升级服务
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="service-more"><a href="">查看更多</a></div>
    </div>
  </div>
{% include "./foot.html" %}