{% include "./head.html" %}
<!-- banner部分 -->
<div class="banner case">
    <div class="title">
      <p>成功案例</p>
      <p class="en">Successful Case</p>
    </div>
  </div>
  <!-- main部分 -->
  <div class="main-case">
    <div class="layui-container">
      <div class="layui-row">
        <div class="layui-inline content">
          <div class="layui-inline case-img"><img src="/static/home/img/case1.jpg"></div>
          <p class="lable">名牌工厂店</p>
          <p>一家工厂企业的商品展示网站，主要以卖高端服饰为主。主要以卖高端服饰为主。主要以卖高端服饰为主。</p>
        </div>
        <div class="layui-inline content even center">
          <div class="layui-inline case-img"><img src="/static/home/img/case2.jpg"></div>
          <p class="lable">名牌工厂店</p>
          <p>一家工厂企业的商品展示网站，主要以卖高端服饰为主。主要以卖高端服饰为主。主要以卖高端服饰为主。</p>
        </div>
        <div class="layui-inline content">
          <div class="layui-inline case-img"><img src="/static/home/img/case3.jpg"></div>
          <p class="lable">名牌工厂店</p>
          <p>一家工厂企业的商品展示网站，主要以卖高端服饰为主。主要以卖高端服饰为主。主要以卖高端服饰为主。</p>
        </div>
        <div class="layui-inline content even">
          <div class="layui-inline case-img"><img src="/static/home/img/case4.jpg"></div>
          <p class="lable">名牌工厂店</p>
          <p>一家工厂企业的商品展示网站，主要以卖高端服饰为主。主要以卖高端服饰为主。主要以卖高端服饰为主。</p>
        </div>
        <div class="layui-inline content center">
          <div class="layui-inline case-img"><img src="/static/home/img/case5.jpg"></div>
          <p class="lable">名牌工厂店</p>
          <p>一家工厂企业的商品展示网站，主要以卖高端服饰为主。主要以卖高端服饰为主。主要以卖高端服饰为主。</p>
        </div>
        <div class="layui-inline content even">
          <div class="layui-inline case-img"><img src="/static/home/img/case6.jpg"></div>
          <p class="lable">名牌工厂店</p>
          <p>一家工厂企业的商品展示网站，主要以卖高端服饰为主。主要以卖高端服饰为主。主要以卖高端服饰为主。</p>
        </div>
        <div class="layui-inline content">
          <div class="layui-inline case-img"><img src="/static/home/img/case7.jpg"></div>
          <p class="lable">名牌工厂店</p>
          <p>一家工厂企业的商品展示网站，主要以卖高端服饰为主。主要以卖高端服饰为主。主要以卖高端服饰为主。</p>
        </div>
        <div class="layui-inline content even center">
          <div class="layui-inline case-img"><img src="/static/home/img/case8.jpg"></div>
          <p class="lable">名牌工厂店</p>
          <p>一家工厂企业的商品展示网站，主要以卖高端服饰为主。主要以卖高端服饰为主。主要以卖高端服饰为主。</p>
        </div>
        <div class="layui-inline content">
          <div class="layui-inline case-img"><img src="/static/home/img/case9.jpg"></div>
          <p class="lable">名牌工厂店</p>
          <p>一家工厂企业的商品展示网站，主要以卖高端服饰为主。主要以卖高端服饰为主。主要以卖高端服饰为主。</p>
        </div>
      </div>
      <div id="casePage"></div>
    </div>
  </div>
{% include "./foot.html" %}