<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
  <title>西电科技-关于我们</title>
  <link rel="stylesheet" href="/static/layui/css/layui.css">
  <link rel="stylesheet" href="/static/home/css/index.css">
</head>
<body>
{% include "./nav.html" %}
<!-- banner部分 -->
<div class="banner about">
    <div class="title">
      <p>关于我们</p>
      <p class="en">About Us</p>
    </div>
  </div>
  <!-- main部分 -->
  <div class="main-about">
    <div class="layui-container">
      <div class="layui-row">
        <ul class="aboutab">
          <li class="layui-this">公司简介</li><li>招贤纳士</li><li>发展历程</li>
        </ul>
        <div class="tabIntro">
          <div class="content">
            <div class="layui-inline img"><img src="/static/home/img/us_img1.jpg"></div><div class="layui-inline panel">
              <p>西安航装电子科技有限公司成立于2018-08-07，法定代表人为黄晶，注册资本为100万元人民币，统一社会信用代码为91610133MA6W1DK996，企业地址位于陕西省西安市灞桥区长乐东路2999号京都国际10201商铺，所属行业为信息传输、软件和信息技术服务业，经营范围包含：一般项目：集成电路设计；计算机软硬件及辅助设备零售；生态环境监测及检测仪器仪表销售；电子元器件批发；技术服务、技术开发、技术咨询、技术交流、技术转让、技术推广；软件开发；网络与信息安全软件开发；信息系统集成服务；信息系统运行维护服务；信息技术咨询服务；工业控制计算机及系统销售；电子产品销售；机械设备销售；通讯设备销售。</p>
            </div>
          </div>
                   
        </div>
        <div class="tabJob">
          <div class="content">
            <p class="title">前端开发工程师</p>
            <p>> 职位描述</p>
            <ol>
              <li>前端开发及维护工作；</li>
              <li>有良好的技术基础，熟悉 Web 标准，熟练掌握多种 Web 前端技术；</li>
              <li>掌握行业内流行的类库，Vue.js， React 等主流框架；</li>
              <li>参与公司前端工程的设计、研发；</li>
              <li>了解不同浏览器之间的差异，移动设备之间的差异。</li>
            </ol>
          </div>
          <div class="content">
            <p class="title">nodejs 工程师</p>
            <p>> 职位描述</p>
            <ol>
              <li>前端开发及维护工作；</li>
              <li>有良好的技术基础，熟悉 Web 标准，熟练掌握多种 Web 前端技术；</li>
              <li>掌握行业内流行的类库，Vue.js， React 等主流框架；</li>
              <li>参与公司前端工程的设计、研发；</li>
              <li>了解不同浏览器之间的差异，移动设备之间的差异。</li>
            </ol>
          </div>
        </div>
        <div class="tabCour">
          <p class="title">我们的蜕变</p>
          <ul class="timeline">
            <li class="odd">
              <div class="cour-img"><img src="/static/home/img/us_img4.png"></div>
              <div class="cour-panel layui-col-sm4 layui-col-lg5">
                <p class="label">2023 年 4 月</p>
                <p>godocms更名godoOA，更加专注于企业办公。</p>
              </div>
            </li>
            <li>
              <div class="cour-img"><img src="/static/home/img/us_img5.png"></div>
              <div class="cour-panel layui-col-sm4 layui-col-sm-offset8 layui-col-lg5 layui-col-lg-offset7">
                <p class="label">2021 年 4 月</p>
                <p>godocms初版开源发布，获得了良好的口碑。</p>
              </div>
            </li>
            <li class="odd">
              <div class="cour-img"><img src="/static/home/img/us_img6.png"></div>
              <div class="cour-panel layui-col-sm4 layui-col-lg5">
                <p class="label">2019 年 6 月</p>
                <p>公司转型，专注于通用办公解决方案。</p>
              </div>
            </li>
            <li>
              <div class="cour-img"><img src="/static/home/img/us_img7.png"></div>
              <div class="cour-panel layui-col-sm4 layui-col-sm-offset8 layui-col-lg5 layui-col-lg-offset7">
                <p class="label">2018 年 8 月</p>
                <p>我们成立了，来到了陕西西安这个美丽的地方。</p>
              </div>
            </li>
            <li class="odd">
              <div class="cour-img"><img src="/static/home/img/us_img8.png"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% include "./foot.html" %}