<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
  <title>西电科技-新闻</title>
  <link rel="stylesheet" href="/static/layui/css/layui.css">
  <link rel="stylesheet" href="/static/home/css/index.css">
</head>
<body>
{% include "./nav.html" %}
<!-- banner部分 -->
<div class="banner news">
    <div class="title">
      <p>实时新闻</p>
      <p class="en">Real-time News</p>
    </div>
  </div>
  <!-- main -->
  <div class="main-news">
    <div class="layui-container">
      <div class="layui-row layui-col-space20">
        {% for el in list %}
        <div class="layui-col-lg6 content">
          <div>
            <div class="news-img"><a href="/news/{{ el.id }}"><img src="{{ el.image }}" width="184" height="142"></a></div>
            <div class="news-panel">
              <strong><a href="/news/{{ el.id }}">{{ el.name }}</a></strong>
              <!--p class="detail"><span>{{ el.desc }}</span><a href="/index/newsDetail">[详细]</a></p-->
              <!--p class="read-push">发布时间：<span>{{ el.show_time }}</span></p-->
            </div>
          </div>
        </div>
        {% endfor %}
       

      </div>
      <div id="newsPage"></div>
    </div>
  </div>
{% include "./foot.html" %}