<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
  <title>西电科技-产品展示</title>
  <link rel="stylesheet" href="/static/layui/css/layui.css">
  <link rel="stylesheet" href="/static/home/css/index.css">
</head>
<body>
{% include "./nav.html" %}
<!-- banner部分 -->
<div class="banner product">
    <div class="title">
      <p>产品展示</p>
      <p class="en">Product Display</p>
    </div>
  </div>
  <!-- main部分 -->
  <div class="main product">
    <div class="layui-container">
      <div class="content layui-row">
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md7 layui-col-lg6 content-img"><img src="/static/home/img/Product_img1.jpg"></div>
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md5 layui-col-lg6 right">
          <p class="label">库存管理</p>
          <p class="detail">可适配生产/维修/零售等企业库存管理，内含入库/盘点/调拨等功能，可自定义字段</p>
          <div><a href="javascript:;">查看产品 ></a></div>
        </div>
      </div>
      <div class="content layui-row">
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md7 layui-col-lg6 content-img"><img src="/static/home/img/Product_img2.jpg"></div>
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md5 layui-col-lg6 right">
          <p class="label">采购预算</p>
          <p class="detail">分大/小类的采购预算，excel表导入，数据自动归算，和权限流引擎完美结合</p>
          <div><a href="javascript:;">查看产品 ></a></div>
        </div>
      </div>
      <div class="content layui-row">
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md7 layui-col-lg6 content-img"><img src="/static/home/img/Product_img3.jpg"></div>
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md5 layui-col-lg6 right">
          <p class="label">自定义表单</p>
          <p class="detail">极易入手的自定义表单，一次配置，表单/表格/搜索一步生成，简洁高效<</p>
          <div><a href="javascript:;">查看产品 ></a></div>
        </div>
      </div>
      <div class="content layui-row">
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md7 layui-col-lg6 content-img"><img src="/static/home/img/Product_img4.jpg"></div>
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md5 layui-col-lg6 right">
          <p class="label">审计流引擎</p>
          <p class="detail">结合自定义表单可完成大部分工作流。可回退，支持钉钉通知，支持规则配置</p>
          <div><a href="javascript:;">查看产品 ></a></div>
        </div>
      </div>      
    </div>
  </div>
{% include "./foot.html" %}