{% include "./head.html" %}
 <!-- banner部分 -->
 <div>
    <div class="layui-carousel" id="banner">
      <div carousel-item>
        <div>
          <img src="/static/home/img/banner1.jpg">
          <div class="panel">
            <p class="title">GodoOA</p>
            <p>专注企业办公</p>
          </div>
        </div>
        <div>
          <img src="/static/home/img/banner2.jpg">
          <div class="panel">
            <p class="title">西电科技</p>
            <p>完美用户体验</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- main部分 -->
  <!--div class="tlinks"></div-->
  <div class="main-product">
    <div class="layui-container">
      <p class="title">专为企业办公而研制的<span>核心产品</span></p>
      <div class="layui-row layui-col-space25">
        <div class="layui-col-sm6 layui-col-md3">
          <div class="content">
            <div><img src="/static/home/img/Big_icon1.png"></div>
            <div>
              <p class="label">库存管理</p>
              <p>从小屏逐步扩展到大屏，最终实现所有屏幕适配，适应移动互联潮流。</p>
            </div>
            <a href="javascript:;">查看产品 ></a>
          </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3 ">
          <div class="content">
            <div><img src="/static/home/img/Big_icon2.png"></div>
            <div>
              <p class="label">采购预算</p>
              <p>从小屏逐步扩展到大屏，最终实现所有屏幕适配，适应移动互联潮流。</p>
            </div>
            <a href="javascript:;">查看产品 ></a>
          </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3 ">
          <div class="content">
            <div><img src="/static/home/img/Big_icon3.png"></div>
            <div>
              <p class="label">自定义表单</p>
              <p>从小屏逐步扩展到大屏，最终实现所有屏幕适配，适应移动互联潮流。</p>
            </div>
            <a href="javascript:;">查看产品 ></a>
          </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3 ">
          <div class="content">
            <div><img src="/static/home/img/Big_icon4.png"></div>
            <div>
              <p class="label">审计流引擎</p>
              <p>从小屏逐步扩展到大屏，最终实现所有屏幕适配，适应移动互联潮流。</p>
            </div>
            <a href="javascript:;">查看产品 ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-service">
    <div class="layui-container">
      <p class="title">为客户打造完美的<span>专业服务</span></p>
      <div class="layui-row layui-col-space25 layui-col-space80">
        <div class="layui-col-sm6">
          <div class="content">
            <div class="content-left"><img src="/static/home/img/home_img1.jpg"></div>
            <div class="content-right">
              <p class="label">企业免费版</p>
              <span></span>
              <p>
                支持10人使用<br />
                第一年免费
              </p>
            </div>
          </div>
        </div>
        <div class="layui-col-sm6">
          <div class="content">
            <div class="content-left"><img src="/static/home/img/home_img2.jpg"></div>
            <div class="content-right">
              <p class="label">用户免费版</p>
              <span></span>
              <p>
                
              </p>
            </div>
          </div>
        </div>
        <div class="layui-col-sm6">
          <div class="content">
            <div class="content-left"><img src="/static/home/img/home_img3.jpg"></div>
            <div class="content-right">
              <p class="label">企业收费版</p>
              <span></span>
              <p>更有多个包含不同主题的Web组件，可快速构建界面出色、体验优秀的跨屏页面，大幅提升开发效率。</p>
            </div>
          </div>
        </div>
        <div class="layui-col-sm6">
          <div class="content">
            <div class="content-left"><img src="/static/home/img/home_img4.jpg"></div>
            <div class="content-right">
              <p class="label">用户收费版</p>
              <span></span>
              <p>更有多个包含不同主题的Web组件，可快速构建界面出色、体验优秀的跨屏页面，大幅提升开发效率。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="service-more"><a href="">查看更多</a></div>
    </div>
  </div>
{% include "./foot.html" %}