{% include "./head.html" %}
<!-- banner部分 -->
<div class="banner news">
    <div class="title">
      <p>实时新闻</p>
      <p class="en">Real-time News</p>
    </div>
  </div>
  <!-- main -->
  <div class="main-news">
    <div class="layui-container">
      <div class="layui-row layui-col-space20">

        <!--div class="layui-col-lg6 content">
          <div>
            <div class="news-img"><a href="/index/newsDetail"><img src="/static/home/img/news_img1.jpg"></a></div><div class="news-panel">
              <strong><a href="/index/newsDetail">一直在你身边对你好，你却没有发现。</a></strong>
              <p class="detail"><span>找老婆要找爱发脾气的女人。永远不会发脾气的女人就如同一杯白开水，解渴，却无味。而发脾气的女人正如烈酒般，刺激而令人无法忘怀。</span><a href="/index/newsDetail">[详细]</a></p>
              <p class="read-push">阅读 <span>120</span>&nbsp;&nbsp;&nbsp;&nbsp;发布时间：<span>2018-06-21</span></p>
            </div>
          </div>
        </div>
        <div class="layui-col-lg6 content">
          <div>
            <div class="news-img"><a href="/index/newsDetail"><img src="/static/home/img/news_img1.jpg"></a></div><div class="news-panel">
              <strong><a href="/index/newsDetail">写经验交流材料的技巧全在这了！</a></strong>
              <p class="detail"><span>看不到您的原稿，这样对空发议论，估计对您的指导性是不大的。建议您将原稿贴出来，好让老师们针对指导。这里简单给出意见：</span><a href="/index/newsDetail">[详细]</a></p>
              <p class="read-push">阅读 <span>835</span>&nbsp;&nbsp;&nbsp;&nbsp;发布时间：<span>2018-06-21</span></p>
            </div>
          </div>
        </div>
        <div class="layui-col-lg6 content">
          <div>
            <div class="news-img"><a href="/index/newsDetail"><img src="/static/home/img/news_img1.jpg"></a></div><div class="news-panel">
              <strong><a href="/index/newsDetail">经验分享：我是如何做好每日计划的</a></strong>
              <p class="detail"><span>在日常的工作中，不知道大家有没有遇到以下这些问题：面对这样的问题，我养成了一个习惯就是每天写工作计划。想在此与大家分享，希望对你们有所帮助，同时欢迎指正及共同探讨。</span><a href="/index/newsDetail">[详细]</a></p>
              <p class="read-push">阅读 <span>112</span>&nbsp;&nbsp;&nbsp;&nbsp;发布时间：<span>2018-06-21</span></p>
            </div>
          </div>
        </div-->
       

      </div>
      <div id="newsPage"></div>
    </div>
  </div>
{% include "./foot.html" %}