<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
  <title>西电科技-首页</title>
  <link rel="stylesheet" href="/static/layui/css/layui.css">
  <link rel="stylesheet" href="/static/home/css/index.css">
</head>
<body>
{% include "./nav.html" %}
 <!-- banner部分 -->
 <div>
    <div class="layui-carousel" id="banner">
      <div carousel-item>
        <div>
          <img src="/static/home/img/banner1.jpg">
          <div class="panel">
            <p class="title">GodoOA</p>
            <p>零碎化办公解决方案</p>
            <p>
              <button class="layui-btn layui-btn-primary layui-border-black reg">注册试用</button>
            </p>
          </div>
        </div>
        <div>
          <img src="/static/home/img/banner2.jpg">
          <div class="panel">
            <p class="title">西电科技</p>
            <p>工作流引擎</p>
            <p>
              <button class="layui-btn layui-btn-primary layui-border-black reg">注册试用</button>
            </p>
          </div>
        </div>
        <div>
          <img src="/static/home/img/banner3.jpg">
          <div class="panel">
            <p class="title">办公系统</p>
            <p>配置化库存解决方案</p>
            <p>
              <button class="layui-btn layui-btn-primary layui-border-black reg">注册试用</button>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- main部分 -->
  <!--div class="tlinks"></div-->
  <div class="main-product">
    <div class="layui-container">
      <p class="title">专为企业办公而研制的<span>核心产品</span></p>
      <div class="layui-row layui-col-space25">
        <div class="layui-col-sm6 layui-col-md3">
          <div class="content">
            <div><i class="layui-icon layui-icon-template-1 homeicon"></i></div>
            <div>
              <p class="label">库存管理</p>
              <p class="txt">可适配生产/维修/零售等企业库存管理，内含入库/盘点/调拨等功能，可自定义字段。</p>
            </div>
            <a href="javascript:;">查看说明 ></a>
          </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3 ">
          <div class="content">
            <div><i class="layui-icon layui-icon-template homeicon"></i></div>
            <div>
              <p class="label">采购预算</p>
              <p class="txt">分大/小类的采购预算，excel表导入，数据自动归算，和权限流引擎完美结合。</p>
            </div>
            <a href="javascript:;">查看说明 ></a>
          </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
          <div class="content">
            <div><i class="layui-icon layui-icon-form homeicon"></i></div>
            <div>
              <p class="label">自定义表单</p>
              <p class="txt">极易入手的自定义表单，一次配置，表单/表格/搜索一步生成，简洁高效。</p>
            </div>
            <a href="javascript:;">查看说明 ></a>
          </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3 ">
          <div class="content">
            <div><i class="layui-icon layui-icon-engine homeicon"></i></div>
            <div>
              <p class="label">审计流引擎</p>
              <p class="txt">结合自定义表单可完成大部分工作流。可回退，支持钉钉通知，支持规则配置。</p>
            </div>
            <a href="javascript:;">查看说明 ></a>
          </div>
        </div>

        <div class="layui-col-sm6 layui-col-md3 ">
          <div class="content">
            <div><i class="layui-icon layui-icon-cellphone-fine homeicon"></i></div>
            <div>
              <p class="label">办公白板</p>
              <p class="txt">集自由布局、画笔、便签多种创意表达能力于一体，激发团队创造力，随时随地，围绕一块白板沟通。 </p>
            </div>
            <a href="javascript:;">查看说明 ></a>
          </div>
        </div>

        <div class="layui-col-sm6 layui-col-md3 ">
          <div class="content">
            <div><i class="layui-icon layui-icon-carousel homeicon"></i></div>
            <div>
              <p class="label">思维导图</p>
              <p class="txt">支持四种结构；内置多种主题；支持快捷键；节点内容支持图片、图标、超链接、备注、标签。 </p>
            </div>
            <a href="javascript:;">查看说明 ></a>
          </div>
        </div>

        <div class="layui-col-sm6 layui-col-md3 ">
          <div class="content">
            <div><i class="layui-icon layui-icon-date homeicon"></i></div>
            <div>
              <p class="label">excel表格</p>
              <p class="txt">支持公式和函数：内置公式，远程公式，自定义公式；表格操作：筛选，排序，数据验证。</p>
            </div>
            <a href="javascript:;">查看说明 ></a>
          </div>
        </div>

        <div class="layui-col-sm6 layui-col-md3 ">
          <div class="content">
            <div><i class="layui-icon layui-icon-read homeicon"></i></div>
            <div>
              <p class="label">流程图</p>
              <p class="txt">项目经理的硬核工具，包含图形/拓扑图/图表/权限流/工作流五个流程图编辑工具。</p>
            </div>
            <a href="javascript:;">查看说明 ></a>
          </div>
        </div>

        <div class="layui-col-sm6 layui-col-md3 ">
          <div class="content">
            <div><i class="layui-icon layui-icon-at homeicon"></i></div>
            <div>
              <p class="label">文集管理</p>
              <p class="txt">使用说明书/开发文档的生成工具。可以自动生成，可以回写，可以书写多个说明文档。</p>
            </div>
            <a href="javascript:;">查看说明 ></a>
          </div>
        </div>

        <div class="layui-col-sm6 layui-col-md3 ">
          <div class="content">
            <div><i class="layui-icon layui-icon-slider homeicon"></i></div>
            <div>
              <p class="label">甘特图</p>
              <p class="txt">项目管理必备工具，支持自定义项目人员和角色，支持拖拽/管理分配（资源、角色、工作）等。</p>
            </div>
            <a href="javascript:;">查看说明 ></a>
          </div>
        </div>

        <div class="layui-col-sm6 layui-col-md3 ">
          <div class="content">
            <div><i class="layui-icon layui-icon-time homeicon"></i></div>
            <div>
              <p class="label">日程计划</p>
              <p class="txt">支持各种视图类型：每日、每周、每月；支持里程碑和任务计划的高效管理，周末宽度。</p>
            </div>
            <a href="javascript:;">查看说明 ></a>
          </div>
        </div>

        <div class="layui-col-sm6 layui-col-md3 ">
          <div class="content">
            <div><i class="layui-icon layui-icon-picture homeicon"></i></div>
            <div>
              <p class="label">图片编辑器</p>
              <p class="txt">支持裁剪、翻转、旋转、绘图、形状、图标、文本、遮罩过滤器、图像过滤器。</p>
            </div>
            <a href="javascript:;">查看说明 ></a>
          </div>
        </div>

        <div class="layui-col-sm6 layui-col-md3 ">
          <div class="content">
            <div><i class="layui-icon layui-icon-fonts-clear homeicon"></i></div>
            <div>
              <p class="label">svg编辑器</p>
              <p class="txt">svg在线编辑器，基于svgedit。支持增/删/改/查，支持导入/导出svg。</p>
            </div>
            <a href="javascript:;">查看说明 ></a>
          </div>
        </div>

        <div class="layui-col-sm6 layui-col-md3 ">
          <div class="content">
            <div><i class="layui-icon layui-icon-tabs homeicon"></i></div>
            <div>
              <p class="label">文档编辑器</p>
              <p class="txt">支持底层识别图片/ppt/word/pdf等几乎所有办公文件，无需使用外部接口。</p>
            </div>
            <a href="javascript:;">查看说明 ></a>
          </div>
        </div>
        
        <div class="layui-col-sm6 layui-col-md3 ">
          <div class="content">
            <div><i class="layui-icon layui-icon-code-circle homeicon"></i></div>
            <div>
              <p class="label">文本编辑器</p>
              <p class="txt">支持打开text/html/css/js/svg/xml/md等，可以当作一个简单的在线editplus。</p>
            </div>
            <a href="javascript:;">查看说明 ></a>
          </div>
        </div>

        <div class="layui-col-sm6 layui-col-md3 ">
          <div class="content">
            <div><i class="layui-icon layui-icon-chart-screen homeicon"></i></div>
            <div>
              <p class="label">ppt演示文稿</p>
              <p class="txt">在线PowerPoint幻灯片，支持文字、图片、形状、线条、图表、表格、视频、公式等。</p>
            </div>
            <a href="javascript:;">查看说明 ></a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="main-service">
    <div class="layui-container">
      <p class="title">为客户打造完美的<span>专业服务</span></p>
      <div class="layui-row layui-col-space25 layui-col-space80">
        <div class="layui-col-sm6">
          <div class="content">
            <div class="content-left"><img src="/static/home/img/home_img1.jpg"></div>
            <div class="content-right">
              <p class="label">企业开源版</p>
              <span></span>
              <p>
                承诺永久免费开源<br />
                允许企业/个人单独使用<br />
                如果用于商业活动或二次开发，请购买相关版权<br />
                不提供维护工作<br />
                请尊重作者的劳动成果
              </p>
            </div>
          </div>
        </div>
        <div class="layui-col-sm6">
          <div class="content">
            <div class="content-left"><img src="/static/home/img/home_img2.jpg"></div>
            <div class="content-right">
              <p class="label">企业定制版</p>
              <span></span>
              <p>
                可根据相关模块付费定制<br />
                定制费用按模块功能收取<br />
                只做本软件相关的定制<br />
                定制包含私有化部署<br />
                扫网站下二维码添加微信联系<br />
              </p>
            </div>
          </div>
        </div>
        
        
      </div>
      <div class="service-more"><a href="">查看更多</a></div>
    </div>
  </div>

{% include "./foot.html" %}