<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
  <title>西电科技-产品展示</title>
  <link rel="stylesheet" href="/static/layui/css/layui.css">
  <link rel="stylesheet" href="/static/home/css/index.css">
</head>
<body>
{% include "./nav.html" %}
<!-- banner部分 -->
<div class="banner product">
    <div class="title">
      <p>产品展示</p>
      <p class="en">Product Display</p>
    </div>
  </div>
  <!-- main部分 -->
  <div class="main product">
    <div class="layui-container">
      <div class="content layui-row">
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md7 layui-col-lg6 content-img"><img
            src="/static/home/img/Product_img1.jpg"></div>
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md5 layui-col-lg6 right">
          <p class="label">GodoOS</p>
          <p class="detail">godoOS是一套商用办公套件，包含桌面版/网络版/移动手机版，内含word/excel/ppt/pdf/笔记/白板/思维导图/流程图/日程管理等多个办公系统解决方案。godoOS解决内网办公私有化/安全化问题。</p>
          <div><a href="http://os.gdoa.top" target="_blank">查看演示 ></a></div>
        </div>
      </div>
      <div class="content layui-row">
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md7 layui-col-lg6 content-img"><img src="/static/home/img/Product_img2.jpg"></div>
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md5 layui-col-lg6 right">
          <p class="label">GodoOA</p>
          <p class="detail">godoOA是一套开源办公套件，遵从Apache License 2.0开源协议，非常适合二次开发，内含word/excel/ppt/pdf/svg/思维导图/流程图/日程管理等多个办公系统解决方案。godoOA将对接钉钉办公和企业微信办公，数据互通，有效解决企业零碎化办公问题。</p>
          <div><a href="https://gitee.com/ruitao_admin/gdoa" target="_blank">查看源码 ></a></div>
        </div>
      </div>
      <div class="content layui-row">
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md7 layui-col-lg6 content-img"><img src="/static/home/img/Product_img3.jpg"></div>
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md5 layui-col-lg6 right">
          <p class="label">GodoDB</p>
          <p class="detail">一款node版本的mysql数据库管理工具，支持连接/管理多个外部数据库，支持自动生成数据库设计文档，精细化的权限控制，多角色多用户管理。</p>
          <div><a href="https://gitee.com/ruitao_admin/gododb" target="_blank">查看源码 ></a></div>
        </div>
      </div>
      <!--div class="content layui-row">
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md7 layui-col-lg6 content-img"><img src="/static/home/img/Product_img3.jpg"></div>
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md5 layui-col-lg6 right">
          <p class="label">自定义表单</p>
          <p class="detail">极易入手的自定义表单，一次配置，表单/表格/搜索一步生成，简洁高效<</p>
          <div><a href="javascript:;">查看产品 ></a></div>
        </div>
      </div>
      <div class="content layui-row">
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md7 layui-col-lg6 content-img"><img src="/static/home/img/Product_img4.jpg"></div>
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md5 layui-col-lg6 right">
          <p class="label">审计流引擎</p>
          <p class="detail">结合自定义表单可完成大部分工作流。可回退，支持钉钉通知，支持规则配置</p>
          <div><a href="javascript:;">查看产品 ></a></div>
        </div>
      </div-->      
    </div>
  </div>
{% include "./foot.html" %}