  <!-- nav部分 -->
  <div class="nav index">
    <div class="layui-container">
      <!-- 公司logo -->
      <div class="nav-logo">
        <a href="/">
          <img src="/static/home/img/logo.png" alt="西电科技">
        </a>
      </div>
      <div class="nav-list">
        <button>
          <span></span><span></span><span></span>
        </button>
        <ul class="layui-nav" lay-filter="">
          <li class="layui-nav-item{% if act == 'index' %} layui-this{% endif %}"><a href="/">首页</a></li>
          <!--li class="layui-nav-item{% if act == 'product' %} layui-this{% endif %}"><a href="/index/product">产品</a></li-->
          <!--li class="layui-nav-item{% if act == 'news' or act == 'newsDetail' %} layui-this{% endif %}"><a href="/index/news">动态</a></li-->
          <!--li class="layui-nav-item{% if act == 'case' %} layui-this{% endif %}"><a href="/index/case">案例</a></li-->
          <li class="layui-nav-item"><a href="/docs/godo" target="_blank">文档</a></li>
          <li class="layui-nav-item"><a href="https://gitee.com/ruitao_admin/gdoa" target="_blank">源码</a></li>
          <li class="layui-nav-item"><a href="/res/group/login.html" target="_blank">演示</a></li>
          <li class="layui-nav-item{% if act == 'about' %} layui-this{% endif %}"><a href="/index/about">关于</a></li>
        </ul>
      </div>
    </div>
  </div>