<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>部门管理</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" />
<link rel="stylesheet" href="/static/ui/css/ui.css" />
</head>

<body class="pear-container">

    <div class="layui-card">
        <div class="layui-card-body">

            <script type="text/html" id="area-bar">
                {{# if(d.is_sun == 0){ }}
				<button class="pear-btn pear-btn-primary pear-btn-sm">待同步</button>
                {{# }else { }}
                    <button class="pear-btn pear-btn-danger pear-btn-sm">已同步</button>
                {{# } }}
            </script>
            <script type="text/html" id="user-bar">
                {{# if(d.is_user == 0){ }}
				<button class="pear-btn pear-btn-primary pear-btn-sm">待同步</button>
                {{# }else { }}
                    <button class="pear-btn pear-btn-danger pear-btn-sm">已同步</button>
                {{# } }}
            </script>
            <table id="area-table" lay-filter="area-table"></table>
        </div>
    </div>

    <script type="text/html" id="area-toolbar">
			<button class="layui-btn layui-btn-primary layui-border-red layui-btn-sm" lay-event="synchrodept">
		        <i class="layui-icon layui-icon-refresh"></i>
		        同步部门
		    </button>
            <button class="layui-btn layui-btn-primary layui-border-red layui-btn-sm" lay-event="synchrouser">
		        <i class="layui-icon layui-icon-refresh"></i>
		        同步用户
		    </button>
            <button class="layui-btn layui-btn-primary layui-border-red layui-btn-sm" lay-event="synchrorole">
		        <i class="layui-icon layui-icon-refresh"></i>
		        同步角色
		    </button>
	</script>

    <script src="../../config/config.js"></script>
    <script src="/static/layui/layui.js"></script>
    <script src="/static/ui/ui.js"></script>
    <script>
        layui.use(['table', 'form', 'jquery', 'common', 'treetable'], function () {
            let table = layui.table;
            let form = layui.form;
            let $ = layui.jquery;
            let common = layui.common;
            let treetable = layui.treetable;

            let MODULE_PATH = "./";
            //console.log(layui.sse)
            window.render = function () {
                treetable.render({
                    treeColIndex: 1,
                    treeSpid: 1,
                    treeIdName: 'dept_id',
                    treePidName: 'parent_id',
                    skin: 'line',
                    treeDefaultClose: true,
                    toolbar: '#area-toolbar',
                    defaultToolbar: [{
                        title: '刷新',
                        layEvent: 'refresh',
                        icon: 'layui-icon-refresh',
                    }, 'filter', 'print', 'exports'],
                    elem: '#area-table',
                    url: 'ding/listDept',
                    page: false,
                    cols: [
                        [
                            {
                                field: 'dept_id',
                                title: 'ID'
                            }, {
                                field: 'name',
                                minWidth: 200,
                                title: '名称'
                            }, {
                                title: '用户同步',
                                templet: '#user-bar',
                                width: 150,
                                align: 'center'
                            }, {
                                title: '部门同步',
                                templet: '#area-bar',
                                width: 150,
                                align: 'center'
                            }
                        ]
                    ]
                });
            }

            render();
            table.on('tool(area-table)', function (obj) {

            })

            table.on('toolbar(area-table)', function (obj) {

                if (obj.event === 'synchrodept') {
                    window.synchro('dept');
                }
                else if (obj.event === 'synchrouser') {
                    window.synchro('user');
                }
                else if (obj.event === 'synchrorole') {
                    window.synchro('role');
                }
                else if (obj.event === 'refresh') {
                    window.refresh();
                }
            });

            window.synchro = function (type) {
                let index = layer.load(1);
                
                _get(layui, 'ding/synchro?type=' + type, res => {
                     layer.close(index);
                     table.reload('area-table');
                     layer.msg('同步成功')
                }, err => {
                     layer.close(index);
                })
            }


            window.refresh = function (param) {
                table.reload('area-table');
            }
        })
    </script>
</body>

</html>