<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>数据库管理</title>
		<link rel="stylesheet" href="../../component/ui/css/ui.css" />
	</head>
	<body class="pear-container">
		
		<div class="layui-card">
			<div class="layui-card-body">
				<table id="db-table" lay-filter="db-table"></table>
			</div>
		</div>

		<script type="text/html" id="db-toolbar">
			<button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
		        <i class="layui-icon layui-icon-add-1"></i>
		        新增
		    </button>
			<button class="pear-btn pear-btn-success" lay-event="update">
		        <i class="layui-icon layui-icon-refresh"></i>
		        更新
		    </button>
			<button class="pear-btn pear-btn-danger pear-btn-md" lay-event="backup">
		        <i class="layui-icon layui-icon-senior"></i>
		        备份
		    </button>
			<button class="pear-btn pear-btn-success pear-btn-md" lay-event="reback">
		        <i class="layui-icon layui-icon-senior"></i>
		        还原
		    </button>
			<button class="pear-btn pear-btn-warming pear-btn-md" lay-event="doc">
		        <i class="layui-icon layui-icon-print"></i>
		        文档
		    </button>
		    
		</script>

		<script type="text/html" id="db-bar">
			<button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></button>
		    <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i></button>
		</script>

		
		<script src="../../config/config.js"></script>
		<script src="../../component/layui/layui.js"></script>
		<script src="../../component/ui/ui.js"></script>
		<script>
			layui.use(['table', 'form', 'jquery','common'], function() {
				let table = layui.table;
				let form = layui.form;
				let $ = layui.jquery;
				let common = layui.common;

				let MODULE_PATH = "./";

				let cols = [
					[
						{
							title: '表名',
							field: 'Name',
							align: 'center'
						},
						{
							title: '中文名',
							field: 'Comment',
							align: 'center'
						},
						{
							title: '数据',
							field: 'Rows',
							align: 'center'
						},
						{
							title: 'AutoID',
							field: 'Auto_increment',
							align: 'center'
						},
						{
							title: '编码',
							field: 'Collation',
							align: 'center'
						},
						{
							title: '创建时间',
							field: 'Create_time',
							align: 'center'
						},
						{
							title: '更新时间',
							field: 'Update_time',
							align: 'center'
						},
						{
							title: '操作',
							toolbar: '#db-bar',
							align: 'center',
							width: 130
						}
					]
				]

				table.render({
					elem: '#db-table',
					url: apiUrl + 'db/list',
					headers : getHeader(),
					parseData: function(res) {
						//console.log(res)
						return {
							"code": res.code, //解析接口状态
							"msg": res.message, //解析提示文本
							"count": res.data.count, //解析数据长度
							"data": res.data.list //解析数据列表
						};
					},
					page: false,
					cols: cols,
					skin: 'line',

					toolbar: '#db-toolbar',
					defaultToolbar: [{
						title: '刷新',
						layEvent: 'refresh',
						icon: 'layui-icon-refresh',
					}, 'filter', 'print', 'exports']
				});

				table.on('tool(db-table)', function(obj) {
					if (obj.event === 'remove') {
						window.remove(obj);
					} else if (obj.event === 'edit') {
						window.edit(obj);
					}
				});

				table.on('toolbar(db-table)', function(obj) {
					if (obj.event === 'add') {
						window.add();
					} else if (obj.event === 'refresh') {
						window.refresh();
					} else if (obj.event === 'update') {
						window.update(obj);
					}
					else if (obj.event === 'backup') {
						window.backup(obj);
					}
					else if(obj.event == 'reback') {
						window.reback(obj);
					}
					else if(obj.event == 'doc') {
						window.doc(obj);
					}
				});
				window.update = function(){
					let index = layer.load(0, {
						time: 5 * 1000
					});
					_post(layui, 'db/update', {}, res => {
						layer.close(index); 
						layer.msg('更新成功',{icon:1,time:1000});
					})
				}
				window.backup = function() {
					let index = layer.load(0, {
						time: 5 * 1000
					}); //显示加载中动画，最多10秒自动关闭
					_post(layui, 'db/backup', {}, res => {
						layer.close(index); //关闭加载动画
						layer.msg('备份成功',{icon:1,time:1000});
					})
				}
				window.reback = function() {
					layer.open({
						type: 2,
						title: '还原',
						shade: 0.1,
						offset: 'rt',
						area: ['80%', '100%'],
						anim: 1,
						maxmin: true,
						content: MODULE_PATH + 'reback.html'
					});
				}
				window.doc = function() {
					layer.open({
						type: 2,
						title: '文档',
						shade: 0.1,
						offset: 'rt',
						area: ['80%', '100%'],
						anim: 1,
						maxmin: true,
						content: MODULE_PATH + 'doc.html'
					});
				}
				window.add = function() {
					layer.open({
						type: 2,
						title: '新增',
						shade: 0.1,
						offset: 'rt',
						area: ['80%', '100%'],
						anim: 1,
						maxmin: true,
						content: MODULE_PATH + 'add.html'
					});
				}

				window.edit = function(obj) {
					layer.open({
						type: 2,
						title: '修改',
						shade: 0.1,
						offset: 'rt',
						area: ['80%', '100%'],
						anim: 1,
						maxmin: true,
						content: MODULE_PATH + 'edit.html?id=' + obj.data.admin_id
					});
				}
				window.remove = function(obj){
		            layer.confirm('确定要删除该用户', {icon: 3, title:'提示'}, function(index){
		                layer.close(index);
		                _post(layui, 'admin/del',{admin_id : obj.data.admin_id}, res => {
							layer.msg('删除成功',{icon:1,time:1000},() => {
								obj.del();
							});
						}, err => {
							//layer.msg('删除失败',{icon:2,time:1000});
						})
		            });
		        }
				

				window.refresh = function(param) {
					table.reload('db-table');
				}
			})
		</script>
	</body>
</html>
