<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>系统配置类目管理</title>
		<link rel="stylesheet" href="../../component/ui/css/ui.css"/>
	</head>
	<body class="pear-container">
		<div class="layui-card">
			<div class="layui-card-body">
				<table id="cate-table" lay-filter="cate-table"></table>
			</div>
		</div>

		<script type="text/html" id="cate-toolbar">
			<button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
				<i class="layui-icon layui-icon-add-1"></i>
                新增类目
            </button>
		</script>
		<script type="text/html" id="set-bar">
			<button class="pear-btn pear-btn-warming pear-btn-sm" lay-event="power">
				<i class="layui-icon layui-icon-util"></i>设置</button>
		</script>
		<script type="text/html" id="op-bar">
			<button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit">
				<i class="layui-icon layui-icon-addition"></i>
			</button>
			<button class="pear-btn pear-btn-warming pear-btn-sm" lay-event="power">
				<i class="layui-icon layui-icon-slider"></i>
			</button>
		</script>
		<script type="text/html" id="cate-bar">
			<button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit">
				<i class="layui-icon layui-icon-edit"></i>
			</button>
			<button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove">
				<i class="layui-icon layui-icon-delete"></i>
			</button>

		</script>
	</body>
	<script src="../../config/config.js"></script>
	<script src="../../component/layui/layui.js"></script>
	<script src="../../component/ui/ui.js"></script>
	<script>
		layui.use([
			'table', 'form', 'jquery'
		], function () {
			let table = layui.table;
			let form = layui.form;
			let $ = layui.jquery;

			let MODULE_PATH = "./";

			let cols = [
				[
					{
						title: '名称',
						field: 'name',
						align: 'center'
					}, {
						title: '标志',
						field: 'key',
						align: 'center'
					}, {
						title: '管理',
						toolbar: '#op-bar',
						align: 'center'
					}, {
						title: '操作',
						toolbar: '#cate-bar',
						align: 'center'
					}, {
						title: '配置',
						toolbar: '#set-bar',
						align: 'center',
						minWidth: 150,
						fixed: "right",
						align: "center"
					}
				]
			]

			table.render({
				elem: '#cate-table',
				url: apiUrl + 'set/cate',
				headers: getHeader(),
				parseData: function (res) {
					return {
						"code": res.code, //解析接口状态
						"msg": res.message, //解析提示文本
						"count": res.data.count, //解析数据长度
						"data": res.data.list //解析数据列表
					};
				},
				page: true,
				cols: cols,
				skin: 'line',
				toolbar: '#cate-toolbar',
				defaultToolbar: [
					{
						title: '刷新',
						layEvent: 'refresh',
						icon: 'layui-icon-refresh'
					},
					'filter',
					'print',
					'exports'
				]
			});
			table.on('toolbar(cate-toolbar)', function (obj) {
				if (obj.event === 'add') {
					window.add();
				} else if (obj.event === 'refresh') {
					window.refresh();
				}
			});

		})
	</script>
</html>