* {
	padding: 0px;
	margin: 0px;
	font-family: "幼圆", sans-serif;
	
	/* 禁止文本选中 */
	-moz-user-select:none;/* 火狐 */
	-webkit-user-select:none;/* webkit浏览器 */
	-ms-user-select:none;/* IE10 */
	-khtml-user-select:none;/* 早期浏览器 */
	/* user-select:none; */
	/* 禁止文本选中结束 */
}

@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1476689941'); /* IE9*/
  src: url('iconfont.eot?t=1476689941#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1476689941') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1476689941') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1476689941#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  /* -moz-osx-font-smoothing: grayscale; */
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.hidden {
	display: none;
}

/* 导航栏 */
.nav {
	background-color: #222222;
	border-bottom: 1px solid #080808;
	height: 50px;
	width: 100%;
	font-size: 23px;
	font-weight: 100;
	position: relative;
	/* 禁止文本选中 */
	-moz-user-select:none;/* 火狐 */
	-webkit-user-select:none;/* webkit浏览器 */
	-ms-user-select:none;/* IE10 */
	-khtml-user-select:none;/* 早期浏览器 */
	/* user-select:none; */
	/* 禁止文本选中结束 */
}

.nav a {
	color: #979595;
}

.nav a:hover {
	color: #FFF;
}

.nav .on {
	color: #FFF;
	cursor: default;
}

/* .nav-button {
	height: 50px;
	width: 320px;
} */

.nav-left, .nav-right {
	position: absolute;
	top: 12px;
}

.nav-left {
	left: 150px;
}

.nav-right {
	/* left: 940px;
	width: 204px; */
	right: 90px;
}

.nav-right ul li {
	float: left;
	padding-right: 20px;
}
/* 导航栏结束 */

/* 任务界面 */
.panle {
	/* height: 600px; */
	width: 100%;
	position: relative;
}

#main {
	width: 600px;
	/* height: 600px; */
	margin: 0px auto;
	text-align: center;
	z-index: auto;
}

#main h1 {
	font-size: 70px;
	font-weight: 100;
	padding-top: 120px;
}

#main p {
	margin-top: 30px;
}

.button {
	width: 150px;
	height: 45px;
	background: #69B2F1;
	border-radius: 4px;
	color: #FFF;
	cursor: pointer;
}

#main .button {
	/* background: url('../images/clock.svg') no-repeat #69B2F1 left;
	background-size: 40px 20px;*/
	margin: 30px auto; 
	cursor: pointer;
}

#main .button span {
	display: block;
	width: 118px;
	height: 45px;
	margin: 0 auto;
	font-size: 17px;
	line-height: 45px;
}

#main .button span .iconfont {
	font-size: 18px;
	margin-right: 10px;
}

#main .button:hover {
	background-color: #3276B1;
}

#main .noClick {
	display: none;
}

#addMission {
	border-radius: 5px;
	border: 1px solid #000;
	box-shadow: 0 0 30px #000;
	position: absolute;
	width: 600px;
	height: 350px;
	top: 120px;
	background-color: #FFF;
}

#addMission .addMission-nav {
	border-bottom: 1px solid #E5E5E5;
	height: 55px;
	line-height: 55px;
}

#addMission .addMission-nav .addMission-nav-title {
	display: inline-block;
	font-size: 20px;
}

#addMission .addMission-nav .addMission-nav-close {
	position: absolute;
	display: inline-block;
	right: 20px;
	font-size: 20px;
	color: #C5C2C2;
	cursor: pointer;
}

#addMission .addMission-nav .addMission-nav-close:hover {
	color: #808080;
}

#addMission .addMission-main {
	height: 215px;
	padding-top: 30px;
	padding-left: 80px;
	text-align: left;
}

#addMission .addMission-main .addMission-main-1 {
	margin-bottom: 30px;
}

#addMission .addMission-main label {
	font-size: 22px;
	line-height: 25px;
}

#addMission .addMission-main input {
	width: 220px;
	height: 24px;
	vertical-align: top;
	border-radius: 4px;
	border: 1px solid #CCCCCC;
}

#addMission .addMission-main .addMission-main-button {
	position: absolute;
	left: 420px;
}

#addMission .addMission-main .addMission-main-button-sub, #addMission .addMission-main .addMission-main-button-add {
	color: #FFF;
	font-weight: bolder;
	height: 30px;
	width: 40px;
	border-radius: 4px;
	display: inline-block;
	margin: 0 auto;
	line-height: 30px;
	text-align: center;
	font-size: 22px;
	cursor: pointer;
}

#addMission .addMission-main .addMission-main-button-sub {
	background-color: #D9534F;
}

#addMission .addMission-main .addMission-main-button-sub:hover {
	background-color: #D2322D;
}

#addMission .addMission-main .addMission-main-button-add {
	background-color: #428BCA;
}

#addMission .addMission-main .addMission-main-button-add:hover {
	background-color: #3276B1;
}

#addMission .addMission-main ul {
	display: block;
	height: 20px;
	width: 520px;
}

#addMission .addMission-main ul li {
	float: left;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 150px;
	height: 30px;
}

#addMission .addMission-foot .addMission-foot-button {
	display: block;
	height: 48px;
	line-height: 48px;
	border-top: 1px solid #E5E5E5;
	width: 600px;
}

#addMission .addMission-foot .addMission-foot-button-cancel, #addMission .addMission-foot .addMission-foot-button-confirm {
	height: 30px;
	width: 40px;
	border-radius: 4px;
	display: inline-block;
	margin: 0 auto;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}

#addMission .addMission-foot .addMission-foot-button-cancel {
	border: 1px solid #CCCCCC;
}

#addMission .addMission-foot .addMission-foot-button-cancel:hover {
	background-color: #EBEBEB;
}

#addMission .addMission-foot .addMission-foot-button-confirm  {
	background-color: #428BCA;
	color: #FFF;
}

#addMission .addMission-foot .addMission-foot-button-confirm:hover {
	background-color: #3276B1;
}

#main #missionList li {
	margin-top: 20px;
	border-bottom: 1px solid #DDDDDD;
	height: 18px;
	line-height: 18px;
	padding-bottom: 5px;
}

#main #missionList li strong {
	float: left;
	display: inline-block;
	margin-left: 50px;
}

#main #missionList li div {
	float: right;
	margin-right: 50px;
}

#main #missionList li span {
	width: 19px;
	height: 19px;
	margin-left: 5px;
	margin-right: 5px;
}

#main #missionList li span a {
	cursor: pointer;
}

#main #missionList li span a:hover {
	text-decoration: underline;
}

#main #missionList li .span1 {
	display: inline-block;
	width: 38px;
	height: 18px;
	line-height: 18px;
	border-radius: 5px;
	color: #3C763D;
	background-color: #DFF0D8;
	cursor: default;
}

#main #missionList li .span2 {
	color: #428BCA;
}

#main #missionList li .span2:hover {
	color: #2A6496;
}

#main #missionList li .span4, #main #missionList li .span5, #main #missionList li .span6, #main #missionList li .span7 {
	display: none;
	width: 102px;
	height: 19px;
	line-height: 19px;
	cursor: default;
	font-weight: bolder;
}

#main #missionList li .span3 {
	color: #F4606C;
}

#main #missionList li .span4 {
	color: #8CC7B5;
}

#main #missionList li .span5 {
	color: #F4606C;
}

#main #missionList li .span6 {
	color: #8CC7B5;
}

#main #missionList li .span7 {
	color: #428BCA;
}

#missionList {
	margin-bottom: 30px;
}



/* 任务界面结束 */

/* 统计界面 */
/* 统计界面结束 */

/* 设置界面 */
#set {
	width: 600px;
    /* height: 600px; */
    margin: 0px auto;
    position: relative;
}

#set .menu {
	width: 100px;
	height: 220px;
	padding-top: 120px;
}

#set .menu ul li {
	padding-bottom: 2px;
	text-align: center;
}

#set .menu ul li .button {
	width: 100px;
	height: 35px;
	background-color: #FFF;
	color: #428BCA;
}

#set .menu ul li .button:hover {
	background-color: #EEEEEE;
	color: #2A6496;
}

#set .menu ul li .on {
	background-color: #428BCA;
	color: #FFF;
}

#set .menu ul li .button span {
	padding-top: 7px;
	display: block;
}

#set .menu-set {
	position: absolute;
	width: 480px;
	top: 0px;
	left: 120px;
	padding-top: 120px;
}

#set .menu-set ul {
	float: left;
}

#set .menu-set .menu-set-item {
	width: 250px;
}

#set .menu-set .menu-set-item li {
	padding-bottom: 25px;
}

#set .menu-set .menu-set-radio {
	width: 180px;
	height: 234px;
}

#set .menu-set .menu-set-radio li {
	margin-bottom: 20px;
}

.radio {
	border: 1px solid #CCCCCC;
	width: 70px;
	height: 20px;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
	margin-left: 50px;
	position: relative;
	color: #FFF;
}

.radio ul {
	width: 120px;
	height: 20px;
	position: absolute;
}

.radio ul li {
	float: left;
	width: 40px;
	text-align: center;

}

.radio-on {
	border-radius: 4px;
	background-color: #428BCA;
	height: 20px;
}

.radio-off {
	border-radius: 4px;
	background-color: #EEEEEE;
	height: 20px;
}

.text {
	margin-left: 50px;
	height: 20.5px;
	width: 40px;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
}

#set .menu-set #sound .menu-set-item {
	width: 100px;
}

#set .menu-set #sound .menu-set-radio {
	width: 380px;
}

#set .menu-set #sound .menu-set-radio li {
	position: relative;
	height: 20px;
	margin-bottom: 23px;
}

#set .menu-set #sound .filename {
	display: inline-block;
	width: 180px;
	height: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
}

#set .menu-set #sound .file {
	width: 68px;
	height: 23px;
	position: absolute;
	opacity: 0;
	/* filter:alpha(opacity=0); */ /* IE8及更早版本 */
	left: 180px;
	cursor: pointer;
	z-index: 10;
}

#set .menu-set #sound .button-file {
	border-radius: 4px;
	border: 1px solid #CCCCCC;
	width: 66px;
	height: 21px;
	background-color: #428BCA;
	color: #FFF;
	cursor: pointer;
	float: left;
	z-index: 100;
}

#set .menu-set #sound .button-file:hover {
	background-color: #3276B1;
}

#set .menu-set #sound .button-default {
	border-radius: 4px;
	border: 1px solid #CCCCCC;
	width: 66px;
	height: 21px;
	cursor: pointer;
	text-align: center;
	float: left;
}

#set .menu-set #sound .button-default:hover {
	background-color: #EBEBEB;
}

#sound .file {
	cursor: pointer;
}

#set .menu-set #layout .menu-set-item {
	width: 150px;
}

#set .menu-set #layout .menu-set-radio {
	width: 330px;
}

#set .menu-set #layout .menu-set-radio .longButton {
	border-radius: 4px;
	border: 1px solid #CCCCCC;
	width: 148px;
	height: 22px;
	background-color: #428BCA;
	cursor: pointer;
}

#set .menu-set #layout .menu-set-radio .longButton .border {
	border-right: 1px solid #285E8E;
}

#set .menu-set #layout .menu-set-radio .longButton .on {
	background-color: #10416C;
}

#set .menu-set #layout .menu-set-radio .longButton ul li {
	float: left;
	text-align: center;
	padding-left: 4px;
	margin: 0px;
	height: 22px;
	line-height: 22px;
	color: #FFF;
}

#set .menu-set #layout .menu-set-radio .longButton ul li:hover {
	background-color: #10416C;
}

#set .menu-set #desktop .menu-set-item {
	width: 100px;
}

#set .menu-set #desktop .menu-set-radio {
	width: 380px;
}

#set .menu-set #other .menu-set-item {
	width: 100px;
	height: 25px;
}

#set .menu-set #other .menu-set-radio {
	width: 380px;
	height: 25px;
	margin-bottom: 20px;
}

#set .menu-set #other .comment {
	font-size: 12px;
}
/* 设置界面结束 */

/* 关于界面 */
/* 关于界面结束 */